body {
    background-color: #d4d4d4;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

.name {
    margin-bottom: 0px;
}

.subname {
    font-size: 20px;
    margin-top: 3px;
    font-weight: bold;
}

.contactInformation {
    float: right;
    width: 22rem;
    height: 5rem;
    background-color: #dda15e;
    position: absolute;
    right: 4rem;
}

.contact {
    position: absolute;
    top: 33px;
    left: 15px;
    font-weight: 800;
    font-size: 17px;
}

.contactInformationText {
    position: absolute;
    top: 25px;
    left: 95px;
    font-weight: 650;
}

.phone-number {
    float: left;
}

.listingInformation {
    display: flex;
    justify-content: normal;
    max-width: 100vw;
    height: 100vh;
    margin-left: 120px;
    margin-top: 2rem;
}

.carInformation {
    width: 45rem;
    height: 39rem;
    margin-left: 7rem;
}

.anuntTitlu {
    background-color: #dda15e;
    width: 100%;
    height: 4rem;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

.anuntTitluText {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.anuntDescriere {
    background-color: #dda15e;
    width: 100%;
    height: 11rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2rem;
}

.descriereTitle {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold
}

.anuntPrice {
    background-color: #dda15e;
    width: 100%;
    height: 5rem;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    margin-top: 2rem;
}

.priceTitle {
    font-size: 20px;
    margin-top: 4px;
    font-weight: bold
}

.anuntPriceText {
    margin-top: 3px;
    margin-left: 24px;
    font-weight: bold;
    font-size: 22px;
    word-spacing: 1rem;
}

.price {
    color: #6E0000;
}

.price_spacing {
    font-size: 28px;
}

.negotiable {
    color: #ffff00be;
    word-spacing: 0rem;
}

.anuntSpecificatii {
    background-color: #dda15e;
    width: 100%;
    height: 13rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2rem;
}

.anuntDescriereText {
    font-size: 16px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-weight: bold;
    margin-top: 0.5rem;
}

.specificatii {
    border-spacing: 1rem;
    width: 100%;
    margin-top: 15px;
}

.specificatiiTitle {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
    font-weight: bold
}

.typeOfSpecs1 {
    padding-left: 110px;
}

.typeOfSpecs2 {
    padding-left: 105px;
}

.imagesSlideShow {
    width: 45rem;
    height: 39rem;
    background-color: black;
    margin-left: 4rem;
    border: 1px solid black;
    border-radius: 3px;
}

.imageOfSlide {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.listingInfo {
    color: #6E0000;
    font-weight: bold;
}

.returnButton {
    display: inline-block;
    padding: 3px 18px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
    width: 100%;
    height: 100%;
}

.returnButton:hover {
    background-color: #ebebeb;
}

.returnButton:active {
    background-color: #ebebeb;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}

.returnbuttonWrapper {
    width: 9rem;
    height: 4rem;
    position: absolute;
    top: 180px;
    left: 20px;
}

.numbertext {
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 4px 2px;
    background-color: #979797;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #dda15e;
}

.dot:active {
    background-color: #dda15e;
}

.imageDots {
    text-align: center;
}

.locationWrapper {
    width: 9rem;
    height: 550px;
    position: absolute;
    top: 16rem;
    left: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 2px #999
}

.carLocationText {
    margin-top: 80px;
    margin-bottom: 40px;
    margin-bottom: 20px;
}

.location {
    margin-bottom: 30px;
    margin-top: 20px;
}

.distance {
    background-color: #0F8E47;
    width: 117px;
    display: inline-block;
    border-radius: 12px;
    color: white;
    font-size: 14px;
    height: 50px;
    margin-bottom: 60px;
}

.distanceText {
    padding: 8px 10px 0px 10px;
}

.page_history {
    width: 100vw;
    height: 50px;
    margin-top: 1rem;
    padding: 10px;
}

.history_spacing {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
    margin-right: 4px;
}

.history_link {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.history_link:visited {
    color: black;
}

.history_link:hover {
    color: #404140;
}