body {
    background-color: #d4d4d4;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

.listingInformation {
    display: flex;
    justify-content: normal;
    max-width: 100vw;
    height: 100vh;
    margin-left: 120px;
    margin-top: 6rem;
}

.imagesSlideShow {
    width: 600px;
    height: 615px;
    background-color: #dda15e;
    margin-left: 180px;
    border: 1px solid black;
    border-radius: 3px;
}

.carInformation {
    width: 35rem;
    height: 615px;
    margin-left: 125px;
}

.anuntTitlu {
    background-color: #dda15e;
    width: 35rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}

.anuntDescriere {
    background-color: #dda15e;
    width: 35rem;
    height: 17rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2rem;
}

.anuntSpecificatii {
    background-color: #dda15e;
    width: 35rem;
    height: 13rem;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 2rem;
}

.anuntTitluText {
    font-size: 17px;
    color: black;
}

.anuntDescriereText {
    font-size: 17px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

.specificatii {
    border-spacing: 1rem;
    width: 100%;
    margin-top: 15px;
}

.specificatiiTitle {
    font-size: 20px;
    margin-top: 1rem;
    text-align: center;
}

/* .specs {
    margin
} */

.typeOfSpecs1 {
    padding-left: 110px;

}

.typeOfSpecs2 {
    padding-left: 105px;

}