body {
    background-color: white;
    margin: 0px;
}

.titleBar {
    background-color: lightblue;
    height: 85px;
    width: 100%;
}

.name {
    font-size: 65px;
    margin-left: 10px;
}

.announces {
    width: 100%;
    height: 100%;
}

.thumbnail {
    height: 350px;
    width: 355px;
    float: left;
    margin: 47px;
    background-color: lightblue;
}

.footer {
    height: 30px;
    width: 100%;
    background-color: lightblue;
}

.year {
    text-align: center;
    font-size: 25px;
}